*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: 25px;
    
}

@media (max-width:991px){
    .login-vector-css{
         display:none ;
    }
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.mad-mark label::after {
    content: '*';
    color: red;
    font-size: 17px;
    padding-left: 5px;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.sign_up_form{
    overflow-y: auto;
}
.sign_up_form::-webkit-scrollbar{
    width: 12px;
}
.sign_up_form::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
}
.sign_up_form::-webkit-scrollbar-thumb{
    background-color: #f3dee8;
    border-radius: 10px;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 30px;
    width: 100%;
    background-color: #2196F3;
    text-color: #FFFFFF;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.submit-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.signup .alert {
    background-color: #2154a3;
    border: antiquewhite;
}
.form_signin{
    overflow-y: auto;
}
.form_signin::-webkit-scrollbar{
    width: 12px;
}
.form_signin::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
}
.form_signin::-webkit-scrollbar-thumb{
    background-color: #2191e5;
    border-radius: 10px;
}
